# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env
backend/media/
backend/staticfiles/

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
.DS_Store
